spring:
  profiles:
    active:
    - dev
---
server:
  port: 8201
spring:
  profiles: dev    # 测试环境
  application:
    name: microservicecloud-config-client-dev
eureka:
  client:
    service-url:
      defaultZone: http://eureka-dev.com:7001/eureka/
---
server:
  port: 8202
spring:
  profiles: test
  application: 
    name: microservicecloud-config-client-test
eureka:
  client:
    service-url:
      defaultZone: http://eureka-test.com:7001/eureka/
# 请保存为 UTF-8格式=======> 非常重要
